[Unit]
Description=<SERVICE_NAME>
After=network.target

[Service]
Type=simple
WorkingDirectory=<WORKING_DIRECTORY>
ExecStart=<EXEC_START>
Restart=on-failure
RestartSec=3
User=ubuntu
EnvironmentFile=<ENVIRONMENT_FILE>

[Install]
WantedBy=multi-user.target